<div class="wrapper">
    <div class="container">
        <div class="component-label">Content Box: Right</div>
        <div class="content-box secondary">
            <div class="box-img">
                <img
                    src="img/signs/community.webp"
                    alt="Retrofitting"
                />
            </div>
            <div class="box-txt">
                <h2>Sign Retrofitting</h2>
                <p>
                    Our professional installation experts will work
                    quickly to update your existing sign with newer
                    materials and internals. With affordable up-front
                    costs and a longer life span, your total savings on
                    maintenance will be exponential.
                </p>
            </div>
        </div>
    </div>
</div>
