<div class="wrapper">
    <div class="container">
        <div class="component-label">Content Box: Left</div>
        <div class="content-box">
            <div class="box-img">
                <img
                    src="img/signs/securitec.jpeg"
                    alt="Illuminated Signs"
                />
            </div>
            <div class="box-txt">
                <h2>Illuminated Signs</h2>
                <p>
                    Whether lit from within or externally, illuminated
                    signage gives your message extra visibility and
                    emphasis both day and night. This can include
                    cabinets with flat or pan faces, custom neon,
                    channel letters, digital readout boards, and more.
                </p>
            </div>
        </div>
    </div>
</div>
