<div class="wrapper">
    <div class="component-label" style="margin-left: 1rem">
        Orange Feature Section
    </div>
    <div class="orange-feature">
        <div class="container orange-flex">
            <div class="orange-img">
                <img
                    src="img/index/cargo-van.png"
                    alt="Van"
                />
            </div>
            <div class="orange-txt">
                <h2>
                    We Bring <span class="hl">Life</span><br />
                    to Businesses Through<br />
                    Quality Print Marketing
                </h2>
                <hr class="green-line" />
                <p class="tagline">SHOW EVERYONE HOW ALIVE YOU ARE.</p>
            </div>
        </div>
    </div>
</div>
