<footer>
    <div class="container">
        <div class="foot-logo-wrap">
            <img
                src="../img/logo.svg"
                alt="Yoder Graphics"
                style="height: 5rem"
            />
        </div>
        <hr class="foot-divider" />
        <div class="foot-bottom">
            <span class="foot-copyright">©2025 Yoder Graphics Systems. All Rights Reserved.</span>
            <div class="socials">
                <a
                    href="https://www.facebook.com/yodergraphics/"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Facebook"
                >
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a
                    href="https://www.instagram.com/yodergraphics/?hl=en"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Instagram"
                >
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a
                    href="https://www.tiktok.com/@yodergraphics"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="TikTok"
                >
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                <a
                    href="https://x.com/yodergraphics"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="X (Twitter)"
                >
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a
                    href="https://www.linkedin.com/company/yoder-graphic-systems-inc/"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="LinkedIn"
                >
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
