/* CAREERS PAGE STYLES */

/* Hero section specific styles */
.hero-wrapper {
    align-items: center;
    background: var(--primary);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.hero {
    color: var(--light);
    padding: .2rem;
    text-align: center;
    z-index: 1;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: .01em;
    margin: 0;
    text-transform: uppercase;
}

.hero h1,
.hero p {
    color: var(--light);
    max-width: 600px;
}

@media (min-width: 1024px) {
    .hero h1 {
        font-size: 3.5rem;
    }
}

/* Cognito form branding removal */
:root:root:root:root:root .cog-branding--minimal,
:root:root:root:root:root .cog-branding--minimal *,
html .cog-branding--minimal,
html .cog-branding--minimal * {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}
