/* APPAREL PAGE STYLES */

/* Hero section with gradient animation */
.hero-wrapper {
    align-items: center;
    animation: gradientAnimation 10s ease infinite;
    background: linear-gradient(180deg, var(--primary), #18b778);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.hero {
    color: var(--light);
    padding: .2rem;
    text-align: center;
    z-index: 1;
}

.hero h1,
.hero p {
    color: var(--light);
    max-width: 600px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* Image grid styles */
.image-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

@media (min-width: 1024px) {
    .image-grid {
        grid-template-columns: repeat(4, 1fr);
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.grid-image {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
